.chart-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin: 0 20px;

}

.bar-chart {
    margin: 0 20px;
}

.pie-chart {
    margin: 0 20px;
}

.chart {
    color: turquoise;
    margin: 80px auto;
}